@model IEnumerable<ONEDSO.EntityFramework.Product>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<div>
    <table class="table table-hover">

        <tr>
            <th>@Html.DisplayNameFor(product => product.productName)</th>
            <th>@Html.DisplayNameFor(product => product.price)</th>
            <th>Buy!</th>
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => product.productName)</td>
                <td>@Html.DisplayFor(modelItem => product.price)</td>
                <td>@Html.ActionLink("Add To Basket!", "Index", "Tickets")</td>
            </tr>
        }
    </table>
</div>

